/* Style for copy buttons */
.copy-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: var(--copy-button-bg);;
    color: var(--header-text);
    border: none;
    padding: 5px 10px;
    font-size: 0.8em;
    cursor: pointer;
    border-radius: 5px;
}

.copy-button:hover {
    background-color: var(--copy-button-hover);
}

/* Markdown content */
#markdown-content {
    font-size: 16px;
    line-height: 1.5;
}

#markdown-content h1, 
#markdown-content h2, 
#markdown-content h3, 
#markdown-content h4, 
#markdown-content h5, 
#markdown-content h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

#markdown-content h1 {
    font-size: 2em;
    border-bottom: 1px solid var(--markdown-border);;
    padding-bottom: 0.3em;
}

#markdown-content h2 {
    font-size: 1.5em;
    border-bottom: 1px solid var(--markdown-border);;
    padding-bottom: 0.3em;
}

#markdown-content a {
    color: var(--link-color);
    text-decoration: none;
}

#markdown-content a:hover {
    text-decoration: underline;
}

/* Table styles */
#markdown-content table {
    border-collapse: collapse;
    width: 100%;
    margin: 16px 0;
    display: block;
    overflow-x: auto;
}

#markdown-content table th,
#markdown-content table td {
    padding: 6px 13px;
    border: 1px solid var(--border-color);
}

#markdown-content table tr {
    background-color: var(--table-stripe);
}

#markdown-content table tr:nth-child(2n) {
    background-color: var(--table-stripe);
}

#markdown-content table th {
    font-weight: 600;
    background-color: #f6f8fa;
}

/* GitHub-like code block styling */
pre {
    background-color: var(--code-bg);
    border-radius: 6px;
    padding: 16px;
    overflow: auto;
    margin-bottom: 16px;
}

code {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, monospace;
    font-size: 85%;
    padding: 0.2em 0.4em;
    margin: 0;
    background-color: var(--code-bg);
    border-radius: 3px;
}

pre code {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border-radius: 0;
    font-size: 100%;
}

/* Fix for the copy button positioning */
pre {
    position: relative;
}

/* Style for ToC */
#table-of-contents {
    background: var(--code-bg);
    padding: 20px;
    border-left: 4px solid var(--accent-color);
    border-bottom: none;
}

#table-of-contents ul {
    list-style: none;
    padding-left: 10px;
    margin: 2pt;
}

#table-of-contents li {
    margin-bottom: 0px;
}

#table-of-contents a {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    font-size: 18px; 
    line-height: 0.3; 
    padding: 1px 0;
}

#table-of-contents a:hover {
    text-decoration: underline;
}