body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color:rgb(7, 74, 35);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 3px rgb(0, 0, 0);
    border-radius: 5px;
}

header {
    background-color: #72a178;
    color: #fda9d0;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
    padding-bottom: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fda9d0;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a.active {
    background-color: #d56097;
    border-radius: 3px;
}

main {
    padding: 20px 0;
}

h2 {
    color: #d56097;
}